$orange: #ffa500;

.logo {
    margin-bottom: 10px;
    
    .icon {
        margin-top: 5px;
        font-size: 20px;

        &:hover {
            cursor: pointer;
            color: $orange;
        }
    }
}
