html, body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #201F1D;
}

body {
    max-width: 1250px;
    background: linear-gradient(90deg, #201F1D 75%, #141518 25%);
    color: #DCDCDC;
    font-size: 0.9rem; 
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.max-height {
    height: 100%;
}

.content {
    padding-top: 10px;
}
